{% include 'etcapp/include/nav.html' %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>플라워레슨 </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined|Material+Icons" rel="stylesheet" />
<link rel="stylesheet" href="/static/etcapp/css/onstyle.css">
<style>
	#myBtn {
		display: none;
		position: fixed;
		bottom: 20px;
		right: 30px;
		z-index: 99;
		font-size: 18px;
		border: none;
		outline: none;
		background-color: black;
		color: white;
		cursor: pointer;
		padding: 15px;
		border-radius: 4px;
	}
	
	#myBtn:hover {
		background-color: #555;
	}
	



</style>
</head>
<body>
<!-- partial:index.partial.html -->
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<script>
 // When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("myBtn").style.display = "block";
  } else {
    document.getElementById("myBtn").style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>
	



<header class="header">
	<div class="header-content">
		<div class="header-logo">
			<h1 class="logo">플라워레슨</h1>
		</div>
	</div>
</header> 
<main>
	<div class="responsive-container">
		<div class="grid">
			<div class="grid-column">
				<a class="product" href="#">
					<div class="product-image">
            <iframe width="400" height="350" src="https://www.youtube.com/embed/f6eI54FEFE4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">[송송꿀팁#2] 초보자도 하기 쉬운 꽃바구니 만들기🍯</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>

				<a class="product" href="#">
					<div class="product-image">
						<iframe  width="400" height="350" src="https://www.youtube.com/embed/Rm4l8ld3AHI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">꽃을 시작하는 방법ㅣ플라워 레슨ㅣ프렌치 스타일ㅣ장미 꽃꽂이 센터피스</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>



				<a class="product" href="#">
					<div class="product-image">
						<iframe  width="400" height="350" src="https://www.youtube.com/embed/3t2FH6pAhXs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	
					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">숲속을걷다 Vase arrangement 누구나 쉽게 화병꽂이 하는 방법 / 화병 추천 / 네추럴 화병꽂이</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>
			</div>

			<div class="grid-column">
			<a class="product" href="#">
					<div class="product-image">
						<iframe  width="400" height="350" src="https://www.youtube.com/embed/V1XuNEA3x9w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">초보자도 하기 쉬운 '꽃꽂이' 따라하기!</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>



				<a class="product" href="#">
					<div class="product-image"> 
						<iframe  width="400" height="350" src="https://www.youtube.com/embed/SM6l98iEkRQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">[플라워레슨] 화병꽂이 DIY / how to make a vase arrangement</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>




				<a class="product" href="#">
					<div class="product-image">
						<iframe  width="400" height="350" src="https://www.youtube.com/embed/U7g7Qdomrkw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">#플라워레슨 472 #미모사 #꽃다발 🌼 #flowerlesson 472 #mimosa #handtied #bouquet 💛</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>
			</div>

			<div class="grid-column">
				<a class="product" href="#">
					<div class="product-image">
						<iframe  width="400" height="350" src="https://www.youtube.com/embed/EwXHZQVsCkw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">오래가는 꽃으로 만드는 플라워박스 플라워레슨</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>



				<a class="product" href="#">
					<div class="product-image">
						<iframe  width="400" height="350" src="https://www.youtube.com/embed/cV0u39WDLQg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">왕꽃다발 만들어 보신 분?(유칼립투스, 미모사) | 플로리스트되기</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>

				<a class="product" href="#">
					<div class="product-image"> 
						<iframe  width="400" height="350" src="https://www.youtube.com/embed/I7Go-ACS2sU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">플라워레슨 41 홈 데코 화병 꽃꽂이 (설유화, 아네모네, 버터플라이 라넌큘러스, 아미초, 그린벨, 미니퐁퐁, 루스커스)</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>
			</div>		
		


				




			


			





				











				


			</div>
			</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	{% comment %} footer부분 {% endcomment %}
	<div class="credits">
		<div class="responsive-container">
		
		</div>
	</div>
</main>
<!-- partial -->
  
{% include 'etcapp/include/bottom.html' %}
</body>
</html>
