{% include 'etcapp/include/nav.html' %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>홈가드닝 </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined|Material+Icons" rel="stylesheet" />
<link rel="stylesheet" href="/static/etcapp/css/onstyle.css">
<style>
	#myBtn {
		display: none;
		position: fixed;
		bottom: 20px;
		right: 30px;
		z-index: 99;
		font-size: 18px;
		border: none;
		outline: none;
		background-color: black;
		color: white;
		cursor: pointer;
		padding: 15px;
		border-radius: 4px;
	  }
	
	  #myBtn:hover {
		background-color: #555;
	  }
	



</style>
</head>
<body>
<!-- partial:index.partial.html -->
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<script>
 // When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("myBtn").style.display = "block";
  } else {
    document.getElementById("myBtn").style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>
	



<header class="header">
	<div class="header-content">
		<div class="header-logo">
			<h1 class="logo">가드닝레슨</h1>
		</div>
	</div>
</header> 
<main>
	<div class="responsive-container">
		<div class="grid">
			<div class="grid-column">
				<a class="product" href="#">
					<div class="product-image">
					<iframe width="400" height="350" src="https://www.youtube.com/embed/vPkb8eHxsAc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	
					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">다이소 꿀템 TOP 15! 가성비좋은 홈가드닝 추천템! 다이소제품으로 플랜테리어 도전!</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>

				<a class="product" href="#">
					<div class="product-image">
						<iframe width="400" height="350" src="https://www.youtube.com/embed/JCOP2_m72KA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">식물키우기로 돈 버는 식물집사 | 홈가드닝 식테크 방법</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>



				<a class="product" href="#">
					<div class="product-image">
						<iframe width="400" height="350" src="https://www.youtube.com/embed/SGlJ37BHD-o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	
					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">식물초보들 주목! 홈가드닝 입문자들이 꼭 알아야할 5가지! - 집콕레슨 〈홈가드닝〉편 1부</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>
			</div>

			<div class="grid-column">
			 <a class="product" href="#">
					<div class="product-image">
						<iframe width="400" height="350" src="https://www.youtube.com/embed/VjAUF1Kh00o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">사계절 꽃피우고 삽목까지 잘되는 화초 5가지/가드닝16년차의 가성비 좋은 오래 가는꽃추천</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>



				<a class="product" href="#">
					<div class="product-image"> 
						<iframe width="400" height="350" src="https://www.youtube.com/embed/yp6l2zFIAqA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">보랏빛 봄꽃으로 꾸미는 봄 베란다/ 봄꽃 실내가드닝/</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>




				<a class="product" href="#">
					<div class="product-image">
						<iframe width="400" height="350" src="https://www.youtube.com/embed/FwjhYuTGnkg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">식물 키워보고 싶은 분들을 위한 식물 추천 7가지🌿 잘 자라고 까다롭지 않은 예쁜 식물</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>
			</div>

			<div class="grid-column">
				<a class="product" href="#">
					<div class="product-image">
						<iframe width="400" height="350" src="https://www.youtube.com/embed/f_7D-GoOe9s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">식물등 플랜테리어 | 실내식물 홈가드닝에 필수 !</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>



				<a class="product" href="#">
					<div class="product-image">
						<iframe width="400" height="350" src="https://www.youtube.com/embed/smbcLtk-hI0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">[SUB]🌱예쁘고 실용적인 원예용품 총 정리! 🌿원예 초보가 꼭 갖춰야하는 홈가드닝 필수템</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>

				<a class="product" href="#">
					<div class="product-image"> 
						<iframe width="400" height="350" src="https://www.youtube.com/embed/RKj6wcvjM5Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

					</div>
					<div class="product-content">
						<div class="product-info">
							<h2 class="product-title">스타들이 키우는 식물은??🌱💚 식물 인테리어에 진심인✔️ 식집사 연예인들의 플랜테리어</h2>
							<p class="product-price"></p>
						</div>
						<button class="product-action"><i class="material-icons-outlined">favorite_border</i></button>
					</div>
				</a>
			</div>		
		


				




			


			





				











				


			</div>
			</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	{% comment %} footer부분 {% endcomment %}
	<div class="credits">
		<div class="responsive-container">
		
		</div>
	</div>
</main>
<!-- partial -->
{% include 'etcapp/include/bottom.html' %}
</body>
</html>
