{% include 'etcapp/include/nav.html' %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 오늘의식물 :::</title>
    
    <link rel="stylesheet" href="/static/etcapp/css/style.css">

    <!-- 구글 무료 폰트 가져오기-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <!-- 아이콘 가져올 외부스크립트! -->
    <script src="https://kit.fontawesome.com/b9153e7eba.js" 
            crossorigin="anonymous"></script>
    <script src="/static/etcapp/js/nav.js" defer></script>
    <!-- jquery 외부파일 또는 CDN 불러오기-->

    <script type = 'text/javascript'
        src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    
    <img src="/static/etcapp/images/todayplant1.png"  width="100%" height="713px" >
    <img src="/static/etcapp/images/todayplant2.png"  width="100%" height="713px" >
    <img src="/static/etcapp/images/todayplant3.png"  width="100%" height="713px" >
    <img src="/static/etcapp/images/todayplant4.png"  width="100%" height="713px" >
    <img src="/static/etcapp/images/todayplant5.png"  width="100%" height="713px" >
    <img src="/static/etcapp/images/todayplant6.png"  width="100%" height="713px" >
    
    {% include 'etcapp/include/bottom.html'  %}
</body>
</html>


