<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>

    <style>
        .inner {
            text-align: center;
        }
    </style>
</head>
<body style="font-family: 'Gowun Dodum'">
    <p>
        <footer>
            <div class="inner">
            <hr/>  
                <div class="footer-message">바쁜, 그리고 복잡한 일상, 식물로부터 위안을 느끼는 함께하는 공간, 식집사</div>
                <div class="footer-contact">컨택: dream@fun-coding.org</div>
                <div class="footer-copyright">Copyrigh 2023 2조 식집사 ⓒ rights reserved</div>
            </div>
        </footer>
    </p>
</body>
</html>