{% include 'etcapp/include/nav.html' %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 식물원 정보 조회 :::</title>

    <script type="text/javascript">
        //-- 전국을 제외한 모든 체크박스는 아래 함수 수행
        // 함수기능 : "전국"에 대한 체크 해제하기
        function checkBase(){
            fm = document.getElementById("fm");
            //alert(fm.city.length);
            // 전국에 대한 체크만 해제하기
            for(i=0; i < fm.city.length; i++) {
                //alert(i);
                if(fm.city[i].value == "전국"){
                    //alert(i);
                    //alert(fm.city[i].checked);
                    fm.city[i].checked = false;
                }
            }
        }

        //-- 전국을 체크한 경우 체크된 다른 지역의 체크 해제처리
        function checkBoxClean(){
            fm = document.getElementById("fm");

            //-- 전국을 제외한 나머지 지역은 체크 해제하기
            for(i=0; i < fm.city.length; i++) {
                if(fm.city[i].value != "전국"){
                    fm.city[i].checked = false;
                }
            }
        }

        //-- 조회하기 처리
        function goList(page)  {
            // 선택된 목록 가져오기
            fm = document.getElementById("fm");

            // 체크된 항목만 추출하기
            str_all = "";
            for(i=0; i < fm.city.length; i++) {
                if(fm.city[i].checked == true){
                    //alert(str_all);
                    // 문자열 양옆에 ''를 붙이는 이유 : sql문에서 검색할 때 '문자열'로 넣어야해
                    str_all += "'" + fm.city[i].value + "',";
                    //alert(str_all);
                }
            }
            //alert(str_all);
            // 문자열의 마지막에 붙어있는 콤마(,) 제거하기
            // slice(0, -1) : 시작문자열부터~마지막전 문자열까지 추출하기
            // str_all이 공백이 아니거나 또는 "전국"이 아닐 경우
            if(str_all != "" | str_all != "전국"){
                //alert(str_all);
                // ex) str_all = '경기','부산',  이렇게 마지막에 ,가 들어가 있기 때문에 ,제거하려고
                str_all = str_all.slice(0, -1);
                //alert(str_all);
            }else{
                // 즉, 체크박스가 "전국"일 때
                str_all = 'no';
            }
            
            // 선택된 city(= str_all)과 현재페이지 정보를 url값으로 넘기기 위함
            url = '/location/garden_list_page/?';
            url = url + "city=" + str_all;
            url = url + "&page=" + page;
            //alert(url);
            location.href = url;
        }

        function checkedInit(checked_city){
            fm = document.getElementById("fm");

            split_list = checked_city.split(",");
            //alert(split_list);

            //-- 전국을 제외한 나머지 지역은 체크 해제하기
            for(i=0; i < fm.city.length; i++) {
                for(j=0; j < split_list.length; j++){
                    if(fm.city[i].value == split_list[j]){
                        //alert(split_list[j]);
                        fm.city[i].checked = true;
                        break;
                    }
                }
            }
        }
    </script>

    <!-- css 외부파일 또는 CDN 불러들이기 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
            crossorigin="anonymous">    

    <!-- jQuery 외부파일 또는 CDN 불러들이기 -->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>

<body onload="checkedInit('{{city}}')";>

    <div class="container text-center" style='width:100%;'>   
        <!-- row 는 tr의 개념 -->
        <div class="row">
            <!-- col은 td의 개념 -->
            <div class="col">
                <h3 style="font-size:15px;">식물원 정보 조회</h3>
            </div>
        </div>
    </div>
    <hr/>
    <div style="text-align : center">
    <form id="fm" action="#" method="post">
        {% csrf_token %}
        <input type='checkbox' name="city" value='서울' 
        onclick="checkBase()"/>서울
        <input type='checkbox' name="city" value='경기' 
        onclick="checkBase()"/>경기
        <input type='checkbox' name="city" value='부산' 
        onclick="checkBase()"/>부산
        <input type='checkbox' name="city" value='대구' 
        onclick="checkBase()"/>대구
        <input type='checkbox' name="city" value='인천' 
        onclick="checkBase()"/>인천
        <input type='checkbox' name="city" value='광주' 
        onclick="checkBase()"/>광주
        <input type='checkbox' name="city" value='대전' 
        onclick="checkBase()"/>대전
        <input type='checkbox' name="city" value='울산' 
        onclick="checkBase()"/>울산
        <input type='checkbox' name="city" value='세종' 
        onclick="checkBase()"/>세종
        <input type='checkbox' name="city" value='강원' 
        onclick="checkBase()"/>강원
        <input type='checkbox' name="city" value='경남' 
        onclick="checkBase()"/>경남
        <input type='checkbox' name="city" value='경북' 
        onclick="checkBase()"/>경북
        <input type='checkbox' name="city" value='전남' 
        onclick="checkBase()"/>전남
        <input type='checkbox' name="city" value='전북' 
        onclick="checkBase()"/>전북
        <input type='checkbox' name="city" value='충남' 
        onclick="checkBase()"/>충남
        <input type='checkbox' name="city" value='충북' 
        onclick="checkBase()"/>충북
        <input type='checkbox' name="city" value='제주' 
        onclick="checkBase()"/>제주
        <input type='checkbox' name="city" value='전국' 
            onclick="checkBoxClean()"/><strong>전국</strong>
        
        <input type='button' value='조회' onclick="goList({{ page }})">
    </form>
</div>

    <hr/>    
    <div class="container text-center" style='width:100%;'> 
        <table border="1" width="100%">
            <tr>
                <th>이름</th>
                <th>주소</th>
                <th>전화번호</th>
            </tr>
            {% for data in rows_data %}
                <tr>
                    <td>{{ data.garden_name }}</td>
                    <td>{{ data.garden_place }}</td>
                    <td>{{ data.garden_phone }}</td>
                </tr>
            {% endfor %}
        </table>
    <div>
    
    <!-- 페이징 처리하기 Start -->
    <div class="container text-center" style='width:100%;'> 
        <div class="row">
            <div class="col">
                <p>
                    <!-- 페이징처리 시작 -->
                    <ul class='pagination' style="justify-content:center; font-size:12px;">
                    {% if is_prev %}
                        <li class="page-item">
                            <!-- start_page | add:"-10"의 계산값 = start_page - 1 -->
                            <!-- locationapp/garden_list_page/?page={{ start_page | add:"-10" }} -->
                            <a class="page-link" 
                                href="javascript:goList({{ start_page | add:'-10' }})">
                                    <span aria-hidden="true">«</span>
                            </a>
                        </li>
                    {% endif %}

                    <!-- 페이지 번호 10개를 보여주기 -->
                    {% for i in page_range %}
                        <li class="page-item">
                            <!-- /location/garden_list_page/?page={{ i }} -->
                            <a class="page-link" href="javascript:goList({{ i }})">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {% if is_next %}
                        <li class="page-item">
                            <!-- start_page | add:"10"의 계산값 = start_page + 1 -->
                            <!-- /location/garden_list_page/?page={{ start_page | add:"10" }}
                            "javascript:getCheckboxValue({{ start_page | add:'10' }}, '{{ city }}')" -->
                            <a class="page-link" 
                                href="javascript:goList({{ start_page | add:'10' }})">
                                <span aria-hidden="true">»</span>
                        </a>
                        </li>
                    {% endif %}
                    </ul>
                    <!-- 페이징처리 끝 -->
                </p>
            </div>
        </div>
    </div>
    <!-- End 페이징 처리 -->

    

    <!-- 카카오 지도 api -->
    <input type="text" id="sample5_address" placeholder="주소">
    <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
    <div id="map" style="width:300px;height:300px; margin:0 auto; display:none"></div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ appkey }}&libraries=services"></script>

    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
                level: 5 // 지도의 확대 레벨
            };
    
        //지도를 미리 생성
        var map = new daum.maps.Map(mapContainer, mapOption);
        //주소-좌표 변환 객체를 생성
        var geocoder = new daum.maps.services.Geocoder();
        //마커를 미리 생성
        var marker = new daum.maps.Marker({
            position: new daum.maps.LatLng(37.537187, 127.005476),
            map: map
        });
        
    
        function sample5_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    var addr = data.address; // 최종 주소 변수
    
                    // 주소 정보를 해당 필드에 넣는다.
                    document.getElementById("sample5_address").value = addr;
                    // 주소로 상세 정보를 검색
                    geocoder.addressSearch(data.address, function(results, status) {
                        // 정상적으로 검색이 완료됐으면
                        if (status === daum.maps.services.Status.OK) {
    
                            var result = results[0]; //첫번째 결과의 값을 활용
    
                            // 해당 주소에 대한 좌표를 받아서
                            var coords = new daum.maps.LatLng(result.y, result.x);
                            // 지도를 보여준다.
                            mapContainer.style.display = "block";
                            map.relayout();
                            // 지도 중심을 변경한다.
                            map.setCenter(coords);
                            // 마커를 결과값으로 받은 위치로 옮긴다.
                            marker.setPosition(coords)
                        }
                    });
                }
            }).open();
        }
    </script>
    <!-- 카카오 지도 api 끝 -->
    <!-- 부트스트랩 primary 버튼 -->
    <button type="button" onclick="window.open('http://127.0.0.1:8000/location/garden_list_page_map')">지도열기</button>
    {% include 'etcapp/include/bottom.html' %}
    <!-- 부트스트랩 js 적용 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" 
        crossorigin="anonymous"></script>
</body>
</html>